.App {
  text-align: center;
}

.background-image {
  background-image: url("https://media.pff.com/2021/12/fantasy-rankings.jpeg?w=956&h=538");
}

.background {
  margin: 0 auto;
  display: flex;
  width: 80vw;
  flex-wrap: nowrap;
  text-align: center;
  gap: 100px;
}

.background-overall {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.background-rankings {
  margin: 0 auto;
  display: flex;
  padding-left: 220px;
  padding-right: 250px;
  height: auto;
  width: auto;
  flex-wrap: nowrap;
  text-align: center;
  gap: 250px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  /* text-align: center; */
  padding-top: 8%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.header {
  background-image: url("https://w0.peakpx.com/wallpaper/429/45/HD-wallpaper-nfl-teams-logos-ultra-sports-football-logos-brands-nfl-nfl-team-new-england-patriots-miami-dolphins.jpg");
  background-size: contain;
  height: 12vh;
  width:auto;
  padding-bottom: 60px;
}

nav {
  padding: .1px;
    display:flex;
    justify-content: space-evenly;
    background-color: #ffffffb3;
}

nav a {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35vw;
  text-align: center;
  padding: 14px;
  border-radius: 30px;
  font-size: 22px;
}

.search {
  background-color: #e2dfe0;
  text-align: center;
}

.input-search {
  text-align: center;
}

.Sim-Draft {
  height: 60px;
  font-family: 'Audiowide', 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgb(53, 92, 223);
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 25%;
}

.draft {
  /* display:inline-flex; */
  display: flex;
  gap: 150px;
  justify-content:center;

}

.Select-Team {
  height: 60px;
  font-family: 'Audiowide', 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgb(53, 92, 223);
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 25%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  text-align: center;
  width: -moz-fit-content;
  width: 500px;
  padding: inherit;
  height: -moz-fit-content;
  height: 400px;
  margin: auto;
}

.title {
  font-family: 'Audiowide', cursive;
  color:rgb(26, 16, 3);
  text-align:center;
  margin: 0;
    padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center
}

.flex-container-rankings {

}

.logo-img {
  width: 50%;
  height: auto;
}

.player-item {
  border: solid black 2px;
  width: 300px;
  padding: 5px;
  border: 5px;
  /* background-color: rgba(255, 255, 255, 0.468); */
  height: 400px;
  text-align: center;
}

.player-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-back {
  background-image: url("https://t3.ftcdn.net/jpg/04/68/03/84/360_F_468038425_y7Yju1L6GQUaHPEwsObaoqSZ99VP1D19.jpg");
  background-size: cover;
  height: 70%;
  font-size:small;
  padding: 0 6px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.link {
  font-family: 'Audiowide', cursive;
  color:antiquewhite
}

h3 {
  margin: 6px;
  font-family: 'Audiowide', cursive;
  color: antiquewhite;

}

.player-name {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(13, 13, 12);
  text-align: center;
}

.new-player-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-player-form input[type="text"] {
  width: 65%;
  height: 50px;
  font-family: 'Audiowide', cursive;
  font-size: 18px;
  /* border: none; */
  border-radius: 14px;
  margin-bottom: 10px;
  padding: 20px;
  margin-left:10px;
}

.new-player-form button {
  height: 60px;
  font-family: 'Audiowide', cursive;
  font-size: 18px;
  background-color: rgb(130, 130, 130);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25vw;
  padding: 14px;
  border-radius: 30px;
  font-size: 22px;
}

.search-background {
  background-color: #bfc9b8;
}

.App-link {
  color: #61dafb;
}


.main-bg {
  height: 80vh;
  background-size: cover;
  width: auto;
  height: auto;
  display:grid
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


/* #background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */